BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive

PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
